{% comment %} Styling Start {% endcomment %}
<link type="text/css" href="{{ 'header.scss.css' | asset_url }}" rel="stylesheet">

<style>
    .logo {
        overflow: hidden;
        max-width: {{ section.settings.logo_size }}px;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
</style>

{% comment %} Styling End {% endcomment %}
{% comment %} Layout Start {% endcomment %}

<div class="header-content page-width">
    <div class="header-side">
        <a href="/" class="logo"><img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" /></a>
        <ul class="nav">
            {% for link in linklists.main-menu.links %}

            {% if link.links.size > 0 %}
            <li class="nav-item dropdown">{{ link.title | link_to: link.url }}
                <ul class="nav-dropdown">
                    <div class="dropdown-content">
                        {% for item in link.links %}
                        <li class="dropdown-item">{{ item.title | link_to: item.url }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">{{ link.title | link_to: link.url }}</li>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="header-side">
        <ul class="nav">
            {% for link in linklists.right-menu.links %}
            <li class="nav-item">{{ link.title | link_to: link.url }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% comment %} Layout End {% endcomment %}
{% comment %} Schema Start {% endcomment %}

{% schema %}
{
"name": "Header",
"tag": "header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "range",
"id": "logo_size",
"label": "Logo Size",
"default": 50,
"min": 30,
"max": 150,
"step": 5
}
]
}
{% endschema %}
{% comment %} Schema End {% endcomment %}